h3 {
    color: purple;
    font-weight: bold;
}

section {
    margin: 5px;
    text-align: justify;
}
section.loginpage {
    background-color: lightskyblue;
    grid-column-start: col2;
    grid-column-end: col5;
    grid-row-start: body;
    align-items: center;
    text-align: center;
}
section.monthsubmission {
    grid-column-start: col1;
    grid-column-end: col2;
    position: sticky;
    top: 5px;
    align-self: start;
    overflow: visible;
}
section.middle {
    grid-column-start: col2;
    grid-column-end: col4;
    grid-row-start: body;
    position: sticky;
    top: 5px;
    align-self: start;
}

div.middle {
    background-color: lightgreen;
    color: purple;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 3px 3px 0px purple;
}

.shark:hover{
    background: url(src/lib/images/shark.gif);
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center;
}

section.todolist {
    grid-column-start: col4;
    grid-column-end: end;
    text-align: center;
    align-self: start;
    margin-top: 5px;
}

div.todolist {
    background-color: lightpink;
    color: purple;
    box-shadow: 3px 3px 0px purple;
}

.pink {
    background-color: lightpink;
}

.border {
    border-style: solid;
    border-color: purple;
    color: purple;
    border-width: 2px;
}

.task {
    padding: 10px;
    margin: 5px;
    text-align: left;
    background-color: lemonchiffon;
    display: grid;
    grid-template-columns: [check] 30px [task] auto [end];
    border-style: solid;
    border-color: purple;
    border-width: 2px;
}

.tasktitle {
    font-weight: bold; 
    font-size: 1.1em;
    color: purple;
    transition: color 0.2s;
}

.tasktitle:hover {
    color: deeppink;
    transition: color 0.2s;
}

.taskdate {
    color: purple;
}

.text {
    font-style: italic;
    color: purple;
}

button {
    background-color: lightgreen;
    border-style: solid;
    border-color: purple;
    color: purple; 
    padding: 5px;
    transition: border-color 0.2s, color 0.2s;
}

div {
    overflow-x: hidden;
}

a {
    background-color: lightgreen;
    border-style: solid;
    border-color: purple;
    color: purple; 
    border-width: 2px;
    padding: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: border-color 0.2s, color 0.2s;
}

input:hover {
    border-color: deeppink;
    color: deeppink;
    transition: border-color 0.2s, color 0.2s;
}

button:hover {
    border-color: deeppink;
    color: deeppink;
    transition: border-color 0.2s, color 0.2s;
}


a:hover {
    border-color: deeppink;
    color: deeppink;
    transition: border-color 0.2s, color 0.2s;
}

input {
    background: lemonchiffon;
    border-style: solid;
    border-color: purple;
    margin-bottom: 10px;
    width: 100%;
    transition: border-color 0.2s, color 0.2s;
}

.green {
    background-color: lightgreen;
}

span.message {
    font-size: 1.1em;
    color: palegreen;
    font-style: italic;
    background-color: purple;
}

.half {
    display: grid;
    grid-template-columns: [col1] 25% [col2] 25% [middle] 25% [col3] 25% [end];
}

.yippee {
    background: url(src/lib/images/yippee.gif);
    background-size: contain;
    background-repeat: no-repeat;
    color: deeppink;
    margin: 5px;
    background-position: top;
    height: 200px;
    padding: 10px;
    text-align: center;
}

.title {
    background: url(src/lib/images/title.gif);
    background-size: contain;
    width: 100%;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.submit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 3px 3px 0px purple;
}

.salmon {
    background: salmon;
}

.cateLabel {
    font-style: italic;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    grid-column-start: col1;
    grid-column-end: col2;
    padding: 5px;
}

.container {
    border-style: solid;
    border-width: 2px;
    border-color: purple;
    background-color: lemonchiffon;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.caol {
    background: url(src/lib/images/caol.jpg);
    width: 200px;
    height: 200px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: box-shadow 0.5s, filter 0.5s
}

.glow {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    transition: background-color 0.5s;
}

.glow:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.5s;
}

.caol:hover {
    filter: blur(1px);
    box-shadow: 0px 0px 30px white;
    transition: box-shadow 0.5s, filter 0.5s

}
.dawg {
    background: url(src/lib/images/dawg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    height: 300px;
}

.cat {
    background: url(src/lib/images/cat.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    height: 300px;
}

.important {
    display: grid;
    grid-template-columns: [start] 10% [middle] auto [end]
}