h3 {
    color: purple;
    font-weight: bold;
}

section {
    margin: 5px;
    text-align: justify;
    overflow-x: hidden;
}
section.loginpage {
    background-color: lightskyblue;
    grid-column-start: col2;
    grid-column-end: col5;
    grid-row-start: body;
    align-items: center;
    text-align: center;
}
section.monthsubmission {
    grid-column-start: col1;
    grid-column-end: col2;
    align-self: start;
    position: sticky;
    top: 10px;
}
section.middle {
    grid-column-start: col2;
    grid-column-end: col4;
    grid-row-start: body;
    position: sticky;
    top: 10px;
    align-self: start;
}

div.middle {
    background-color: lightgreen;
    color: black;
    margin-bottom: 10px;
    padding: 10px;
}

div.shark:hover{
    background: url(src/lib/images/shark.gif);
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center;
}

section.todolist {
    background-color: lightpink;
    color: black;
    grid-column-start: col4;
    grid-column-end: end;
    grid-row-start: body;
    overflow-y: scroll;
    text-align: center;
}

.pink {
    background-color: lightpink;
}

.border {
    border-style: solid;
    border-color: purple;
    color: purple;
    border-width: 2px;
}

.task {
    padding: 10px;
    margin: 5px;
    text-align: left;
    background-color: lemonchiffon;
    display: grid;
    grid-template-columns: [check] 30px [task] auto [end];
    border-style: solid;
    border-color: purple;
    border-width: 2px;
}

.tasktitle {
    font-weight: bold; 
    font-size: 1.1em;
    color: purple;
}

.tasktitle:hover {
    color: deeppink;
}

.taskdate {
    color: purple;
}

.text {
    font-style: italic;
    color: purple;
}

button {
    background-color: lightgreen;
    border-style: solid;
    border-color: purple;
    color: purple; 
    padding: 5px;
}

a {
    background-color: lightgreen;
    border-style: solid;
    border-color: purple;
    color: purple; 
    border-width: 2px;
    padding: 5px;
    text-decoration: none;
    font-size: 14px;
}

input:hover {
    border-color: deeppink;
    color: deeppink;
}

button:hover {
    border-color: deeppink;
    color: deeppink;
}

a:hover {
    border-color: deeppink;
    color: deeppink;
}

input {
    background: lemonchiffon;
    border-style: solid;
    border-color: purple;
    margin-bottom: 10px;
    width: 100%;
}

.green {
    background-color: lightgreen;
}

span.message {
    font-size: 1.1em;
    color: palegreen;
    font-style: italic;
    background-color: purple;
}

.half {
    display: grid;
    grid-template-columns: [col1] 25% [col2] 25% [middle] 25% [col3] 25% [end];
}

.yippee {
    background: url(src/lib/images/yippee.gif);
    background-size: contain;
    background-repeat: no-repeat;
    color: deeppink;
    margin: 5px;
    background-position: top;
    height: 200px;
    padding: 10px;
    text-align: center;
}

.title {
    background: url(src/lib/images/title.gif);
    background-size: contain;
    width: 100%;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.submit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px;
}

.salmon {
    background: salmon;
}

.cateLabel {
    font-style: italic;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    grid-column-start: col1;
    grid-column-end: col2;
    padding: 5px;
}

.container {
    border-style: solid;
    border-width: 2px;
    border-color: purple;
    background-color: lemonchiffon;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.caol {
    background: url(src/lib/images/caol.jpg);
    width: 200px;
    height: 200px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

div {
    overflow-x: hidden;
}

.dawg {
    background: url(src/lib/images/dawg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    height: 300px;
}

.cat {
    background: url(src/lib/images/cat.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    height: 300px;
}